html {
	overflow:hidden;
}
body {
	background:black;
	color:#50ff50;
	text-align:center;
	font-weight:bold;
	font-family: 'courier';
	font-size:11px;
}
#toolbar{
	position:fixed;
	bottom:0;
	left:0;
	background:#111;
	right:0;
}
.gridInput,
.timeInput	{
	width:30px;
}
#toolbar input,
#toolbar button,
#toolbar label{
	margin:10px 5px;
}
#toolbar label {
	margin-right:0;
	font-size:14px;
}
